{% extends "base.html" %}
{% block content %}
{% if books|length > 0 %}
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col" colspan="2">Author</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
              <tr>
                <th scope="row">{{book.id}}</th>
                <td>{{book.title}}</td>
                <td>{{ book.author }}</td>
                <td>
                    <a href="/book/{{book.id}}"><button type="button" class="btn btn-primary">Edit</button>
        </a>
                    <a href="/book/{{book.id}}/delete"><button type="button" class="btn btn-danger">Delete</button>
        </a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
</table>
{% endif %}

{% endblock %}